{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cursos.css' %}">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Logotipo_de_la_Universidad_Nacional_de_Colombia.svg/1200px-Logotipo_de_la_Universidad_Nacional_de_Colombia.svg.png" type="image/x-icon">
    <title>Courses</title>
</head>
<body>
    <a href="/panel/admin"><button class="home">🏠Home</button></a>
    <h1> ADMIN PANEL COURSES </h1>
        {% for n in cursos %}    
            <p> {{n}} </p>
            <a href="courses/update_courses"><button class="boton1">Update</button></a>
            <a href="courses/delete_courses"><button class="boton2">Delete</button></a>
        {% endfor %}
        <section>
            <h2> FILTER BY </h2>
            <input type="text" placeholder="Course_name">
            <a href="courses/add_courses"><button class="update"> ADD COURSE </button></a>
        </section>
</body>
</html>