{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'proyecto.css' %}">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Logotipo_de_la_Universidad_Nacional_de_Colombia.svg/1200px-Logotipo_de_la_Universidad_Nacional_de_Colombia.svg.png" type="image/x-icon">
    <title>ProjectsList</title>
</head>
<body>
        <a href="/panel/admin"><button class="home">🏠Home</button></a>
        <h1> PROJECTS LIST </h1>
        {% for n in proyectos %}    
            <p> {{n}} </p>
        {% endfor %}
        <section>
            <h2> FILTER BY </h2>
            <input type="text" placeholder="Project name">
            <a href="/panel/inprogres"><button class="update"> UPDATE PROJECT </button></a>
        </section>
    

</body>
</html>