<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'updateCourses.css' %}">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Logotipo_de_la_Universidad_Nacional_de_Colombia.svg/1200px-Logotipo_de_la_Universidad_Nacional_de_Colombia.svg.png" type="image/x-icon">
    <title>UpdateCourse</title>
</head>
<body>
    <a href="/panel/admin"><button class="home">🏠Home</button></a>
        <h1 class="titles__item--principal">UPDATE COURSE</h1>
    <main>
        <form method="post">
             {% csrf_token %}
            {% if error%}
                <div>
                    <h3>Course ID:</h3>
                    <input name="id" type="number" required placeholder="{{error}}">
                </div>
            {% else %}
                <div>
                    <h3>Course ID:</h3>
                    <input name="id" type="number" required>
                </div>
            {% endif %}
            <div>
                <h3>Course name:</h3>
                <input name="nombre" type="text" required >
            </div>
            
            <div>
                <h3>Teacher:</h3>
                <input name="profesor" type="number" required>
            </div>
            
            <div>
                <h3>Date:</h3>   
                <input name="fecha" type="date" required>
            </div>
            
            <div>
                <h3>Mode:</h3>   
                <input name="modalidad" type="number" required>
            </div>
            <button class="update">UPDATE</button>

        </form>
    </main>
</body>
</html>