<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'update_courses.css' %}">
    <!-- <link rel="stylesheet" href="update_courses.css"> -->
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Logotipo_de_la_Universidad_Nacional_de_Colombia.svg/1200px-Logotipo_de_la_Universidad_Nacional_de_Colombia.svg.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header class="titles">
        <a href="">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="">
            <h3>Home</h3>
        </a>
        <h1 class="titles__item--principal">UPDATE COURSES</h1>
    </header>
    <main>
        <form method="post">
            <!-- {% csrf_token %} -->
            <div>
                <h3>Course name:</h3>
                <input type="text" >
            </div>
            
            <div>
                <h3>Teacher:</h3>
                <input type="password" >
            </div>
            
            <div>
                <h3>Date:</h3>   
                <input type="date" >
            </div>
            
            <div>
                <h3>Mode:</h3>   
                <input type="text" list="opciones_mod">
            </div>
            <datalist id="opciones_mod">
                <option value="face to face">
                <option value="virtual">
            </datalist>
            <button class="update">UPDATE</button>
            <a href="" class="admin_panel"><button>ADMIN PANEL</button></a> 

        </form>
    </main>
</body>
</html>