* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

html{ 
    font-size: 62.5%;
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 100px;
    align-items: center;
}
header a{
    display: inline-block;
    position: relative;
    top: 4rem;
    left: 8rem;
    width: 14rem;
    height: 4rem;
    background-color:rgb(199, 247, 215);
    border-radius: 2rem;
}

header a img{
    display: inline-block;
    width: 4rem;
    height: 4rem;
}

header a h3{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    width: 3rem;
    height: 4rem;
    bottom: 0.6rem;
    color: black;
}

.titles__item--principal{
    position: relative;
    margin-top: 2%;
    height: 50px;
    font-size: 5.0rem;
    text-align:center;
    color: white;
}

.titles__item--information{
    margin-top: 2%;
    position: relative;
    height: 50px;
    font-size: 2.0rem;
    text-align:center;
    color: white;   
}

main{
    width: 80%;
    max-width: 500px;
    height: 40rem;
    margin:0 auto;
    background-color: white;
    border-radius: 7%;
    padding: 20px;

}

input{
    top: 5px;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    margin-top: 2%;
    height: 40px;
    background-color: rgb(199, 247, 215);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{ 
    font-size: 62.5%;
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 100px;
    align-items: center;
}

.titles__item--principal{
    position: relative;
    bottom: 1rem;
    margin-top: 2%;
    height: 50px;
    font-size: 5.0rem;
    text-align:center;
    color: white;
}


main{
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 40rem;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: transparent   ;
    border-radius: 7%;
    padding: 20px;

}

form {
    position: relative;
    left: 7rem;
    height: 50rem;
    padding: 2rem;
    min-height: 40rem;
}

form div{
    margin: 5rem;
    display: block;
}

form div h3{
    display: inline-block;
    position: relative;
    width: 14rem;
    margin-right: 7rem;
    top: 0.5rem;
    font-size: 2rem;
    
}

input{
    position: relative;
    padding: 0.5rem;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    padding-left: 2rem;
    margin-bottom: 2%;
    height: 4rem;
    width: 50rem;
    background-color: white;
    display: inline-block;
    border-radius: 3rem;
}

form .update {
    display: inline-block;
    position:relative;
    height: 3rem;
    left: 18rem;
    width: 15rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(37, 250, 147);
    color: white;
}

form .admin_panel {
    display: inline-block;
    width: 15rem;
    position:relative;
    left: 22rem;
    text-align: center;
    
}

form .admin_panel button {
    width: 15rem;
    height: 3rem;
    position:relative;
    border-radius:5rem;
    border: none;
    color: white;
    background-color: rgb(164, 225, 125);
}
